@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root{
    --primary:#D60A18;
    --onPrimary:hsl(58, 100%, 94%);
    --secondary:#70DB8A;
    --onSecondary:hsl(60, 9%, 5%);
    --tertiary:#29a347;
    --onTertiary:hsl(60, 9%, 5%);
    --lavoro:#DEBB49;
    --riposo: #515A94;
    
}

.lightMode{
    --surface1: hsl(58, 54%, 89%);
    --surface2:hsl(58, 38%, 82%);
    --surface3:hsl(57, 27%, 73%);
    --background:#fffee0;
    --absolute:white;
    --overlay:rgba(255, 254, 224,0.5);
    --onBackground:hsl(60, 9%, 5%);
}
.darkMode{
    --surface1:hsl(60, 9%, 15%);
    --surface2:hsl(60, 10%, 17%);
    --surface3:hsl(60, 11%, 27%);
    --background:#21211c;
    --absolute:black;
    --overlay:rgba(33, 33, 28, 0.5);
    --onBackground:hsl(58, 100%, 94%);

}
/*Tolgo le frecce dall'input type number*/

input[type=number] {
    -moz-appearance: textfield;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


*{
    transition-duration: 0.1s;
}
html{
    margin:0; padding:0;
    scroll-behavior: smooth;
    
}
body{
    color:var(--onBackground);
    margin:0;padding:0;
    background-color:var(--background);
    min-height: 100vh;
    font-size: 24px;
    font-family: 'Roboto Condensed';
}
/*MAIN*/
main{
    padding:50px;
    min-height: 100vh;
}
h1{
    font-family: 'Bungee',serif;
    margin:0;
}
h2{
    font-family: "Roboto Slab", serif;
}
a{
    color:inherit;
}
a:hover {
    color:var(--secondary);
}
main hr{
    border-color:var(--onBackground);
}
.logo{
    width:30%;
}
/*INDEX MAIN*/
.indexMain{
    background-color: var(--overlay);
    padding-top:0 ;

}
.logoMain{
    height:100vh;
}
#KOMPAGNO{
    width: 30%;
}

#indexBackground{
    position:fixed;
    top:0;left:0;
    width:100vw;
    z-index: -1;
    opacity: 0;
}
#freccia-wrapper{
    position:absolute;
    top:90vh;
    z-index: 2;
    width:100vw;
}
#freccia{
    animation-timing-function: ease-in-out;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    text-decoration: none;
}
@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*MENU*/
nav{
    font-family: "Roboto Slab",serif;
    background-color: var(--primary);
    box-shadow: 2px 2px 8px #000000;
    z-index: 1;
}
hr{
    margin-top:0;margin-bottom: 0;
    border-style:solid;
    border-color: #000000;
    width:90%;
}
nav .material-icons{
    color:var(--onPrimary);
}

nav a{
    display: flex;
    text-decoration: none;
}
.descrizioneMenu{
    color:var(--onPrimary);
    font-size: 26px;
    font-variant: small-caps;
    transition-duration: 0.2s;
    opacity: 0;
    display :none;
    margin-left: 10px;
}
#pulsanteMenu{
    text-shadow: none;
    cursor: pointer;
}


nav a:hover .material-icons{
    color:var(--lavoro);
}
a:hover .descrizioneMenu{
    color:var(--secondary);
}

.selezionato{
    background-color: var(--secondary);
    border-radius:5px 0 0 5px;
}
.selezionato .descrizioneMenu{
    color:var(--onSecondary);
}

.selezionato a:hover .descrizioneMenu{
    color: var(--onSecondary);
}

/*FOOTER*/
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size:18px;
    border-top:1px solid var(--onBackground);
    background-color: var(--absolute);
    padding:10px;
    padding-left:100px;
    
}
.footerBox{
    width:40%;
    display:inline-block;
}


/*ICONE*/
.material-icons{
    user-select: none;
    font-size:36px;
    text-shadow: 2px 2px 8px #2e2e2e;
}

/*pulsante dark mode*/
#toggleThemeButton{
    text-shadow:none;
    position:absolute;
    top:15px; right:15px;
    cursor: pointer;
    color:var(--onBackground);
    border-radius: 50%;
    padding:5px;
    background-color: var(--surface3);
    box-shadow:2px 2px 8px #000000 ;
    transition-duration: 0.2s;
    
}
#toggleThemeButton:hover{
    background-color: var(--secondary);

}
/* classi generali*/
.surface1{
    background-color: var(--surface1);
    border-radius: 5px;
    box-shadow:2px 2px 8px black;
    padding: 2rem;
}
.surface2{
    background-color: var(--surface2);
    border-radius: 5px;
    box-shadow:2px 2px 8px black;
    padding:2rem;
}.surface3{
    background-color: var(--surface3);
    border-radius: 5px;
    box-shadow:2px 2px 8px black;
    padding:2rem;
}
.centeredText{
    text-align: center;
}
.in{
    font-size: 24px;
    border:none;
    border-radius: 3px;
    padding:5px 7px;
}

.button{
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 24px;
    font-family: "Roboto Slab";
    background-color: var(--primary);
    color:var(--onPrimary);
    cursor: pointer;
    border: 0;
    border-radius:5px;
}
.button:hover{
    background-color: var(--secondary);
    color:var(--onSecondary);
}
.button:active{
    border-radius: 10px;
}
.overlay{
    margin:0;
    padding:0;
    height:100vh;
    max-height: 100vh;
    width:100vw;
    overflow: scroll;
    position:fixed;
    background-color: var(--overlay);
    z-index: 3;
    display: none;
}
.displayOverlay{
    display:inline;
}
.attribution{
    font-size:20px;
    font-style: italic;
}
.attribution img{
    height: 1em;
    margin-right: 0.125em;
    display: inline;
}
.flexWrap{
    flex-wrap: wrap;
}

figure{
    margin-top: 0;
}
#immagineOverlay{
    width:35vw;
    border-radius: 10%;
}
#messaggioOverlay{
    font-size: 32px;
    margin:0;
}
#closeOverlay{
    float:right;
}
.marginAuto{
    margin-left:auto;
    margin-right:auto;
}

/*TESTO*/
.textContainer p{
    font-family: "Roboto Condensed", sans-serif;
}
.textContainer p::first-letter{
    font-size: 1.5rem;
}
.textContainer {
    font-size: 22px;
    line-height: 1.6em;
    margin-left: auto;margin-right: auto;
    max-width: 600px;
}
.lightMode .textContainer h2{
    color:var(--tertiary);
}
.darkMode .textContainer h2{
    color: var(--secondary);
}
.sottotitolo{
    font-style: italic;
    font-size: 20px;
}
/*POMODORO*/
#pomodoro{
    font-family: "Roboto Slab", serif;
}
#stateOut{
	font-size:150%;
	cursor:pointer;
}
#lavoroIn{
	background-color:var(--lavoro);
	transition-duration:0.5s;
    width:100px;
}
#riposoIn{
	background-color:var(--riposo);
	transition-duration:0.5s;
    width:100px;
}
.statoLavoro{
	background-color:var(--lavoro);
	transition-duration:0.5s;
}
.statoRiposo{
	background-color:var(--riposo);
	transition-duration:0.5s;
}

/*timer*/

.mainOut{
	font-size:64px;
	border: 4px dashed var(--black);
	border-radius:10px;
	width:10%;
	text-align:center;
	padding:30px;
	min-width:200px;
}
.flexRow{
    display: flex;
    justify-content: center;
}
.flexColumn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
}
.margin-20{
    margin-top:20px;
    margin-bottom: 20px;
}
.margin-sides{
    margin-left:20px;
    margin-right:20px;
}


/*TO DO LIST*/
.listOut{
	border-radius:10px;
	width:80%;
	text-align:left;
	padding:30px;
	min-width:170px;
	
}
#outputList{
    padding-left:0;
    font-family: "Roboto Slab",serif;
}
#outputList>li{
	display: grid;
	grid-template-columns:1fr 130px 100px 50px ;
}
#outputList>li>*{
    display: flex;
    align-items: center;
}
#outputList>li.completato>.contenuto{
    text-decoration: line-through ;
}
#outputList>li.completato>span{
    background-color:var(--riposo);
    opacity: 0.8;
}


#outputList>li>.contenuto{
	grid-column-start: 1;
	grid-column-end:2;
    cursor: pointer;
}

#outputList>li>.contenuto:hover{
    text-decoration: line-through ;
	background-color: var(--lavoro);
}
#outputList>li:nth-child(even){
	background-color: var(--surface3);
}

#outputList .data{
	font-style: italic;
}



.todoIn{
	border: 2px solid var(--black);
}

.bottoneElimina{
    border-radius:0px;
    opacity: 0.8;
}
#clearButton{
    float:right;
}

/*Link Vault*/

.cartellaLink h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartellaLink h2::before, .cartellaLink h2::after{
    margin:10 px;
    content:"";
    border:1px solid var(--onBackground);
    width: 100px;
}

.link{
    display: flex;
    box-sizing: border-box;
    margin: 5px;
    font-variant: small-caps;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--onBackground);
    background-color: var(--riposo);
    width: 230px;
    height: 230px;
    padding: 15px;
}
.link:hover{
    border-radius: 10px;
    font-size: 1.2em;
    opacity: 0.9;
    padding:5px;
    background-color: var(--lavoro);
    color: var(--onBackground);
}


/*MEDIA QUERY*/
/*schermi cellulare*/
@media screen and (max-width:700px) {
    /*menu in orizzontale in basso*/
    nav{
        display: flex;
        flex-direction: row;
        position:fixed;
        bottom:0;left:0;
        width:100vw;
        height: 70px;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        justify-content: space-around;
    }
    nav div{
        padding-top:17px;
        padding-left:15px;
        padding-right: 15px;
    }
    .iconaMenu{
        display: none;
        position: absolute;
    }
    nav hr{
        display: none;
    }
    .descrizioneMenu{
        display: none;
    }

    .selezionato{
        border-radius: 0 0 5px 5px;
    }
    main{
        padding:10px;
        
    }
    #KOMPAGNO{
        width:50%;
    }
    /*---------TODO-------*/
    .data{
        display:none !important;
    }
    .ora{
        display: none !important;
    }
    #outputList>li{
        display: grid;
        grid-template-columns:1fr 50px ;
    }
    .contenuto{
        grid-column-start: 1;
	    grid-column-end:2;

    }
    .logo{
        width:60%;
    }
    /*FOOTER*/
    footer{
        padding:10px;
        padding-bottom: 80px;
    }
    .footerBox{
        width:100vw;
    }
    #immagineOverlay{
        width:75vw;
    }
}

/*schermi desktop*/
@media screen and (min-width:701px) {
    nav{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 70px;
        position: fixed;
        left:0px;top:0px;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
    }
    
    nav div{
        display:flex;
        padding-top: 15px;padding-bottom: 15px;
        padding-left:17px;
    }
    
    nav.expand{
        width:300px;
    }
    
    /*MENU EXPAND*/
    /*classi per l'animazione del testo descrizione menu*/
    nav.opacityUno .descrizioneMenu{
        opacity: 1;
    }
    
    nav.displayInline .descrizioneMenu{
        display: inline;
    }
    #pulsanteMenu.rotate{
        transform: rotate(90deg);
    }
    main{
        margin-left:70px;
        
    }
    
}