/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

//Fixes scrollbar gutter when drawer is open
html:has(.drawer-toggle:checked) {
  scrollbar-gutter: auto;
}

app-home,
app-to-do-list {
  //TODO improve this
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
